* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

:root {
  /*couleur background*/
  --color-background1: #dbda4d;
  --color-background2: #ffff01;
  --color-background3: #e0e0e0;
  --color-background4: #000000;

  /*couleur secondaire*/
  --color-secondaire1: #fff23d;

  /*couleur titre*/
  --couleur-titre1: #ffee00;
  --couleur-titre2: #ffffff;
  --couleur-titre3: #000000;

  /*couleur sous-titre*/

  /*couleur Bouton*/
  --bouton-border1: #ffb700;
  --bouton-border2: #ffffff;
  --bouton-border3: #000000;

  /*couleur lien*/
  --couleur-lien1: #000000;
  --couleur-lien2: #ffffffff;
  --couleur-lien3: #ffb501;
}

@media (max-width: 1366px) {
  .ad-track {
    gap: 5px;
  }

  .baba1,
  .baba3 {
    display: none;
  }

  .Acceuil p {
    text-align: center;
  }

  .carouselExampleSlidesOnly2 #lien {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 820px) {
  * {
    margin: 0;
    padding: 0;
  }

  .baba1,
  .baba2,
  .baba3 {
    display: none;
  }

  .aigle .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35% !important;
  }

  .footer_part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer_part1 p {
    text-align: center;
    width: 100%;
  }

  .footer_part1 h1 {
    width: 400px;
  }

  .Acceuil img {
    width: 300px;
  }

  .partie_recrutement {
    margin: 5px 0 15px 0;
  }

  .sous_class_logo h1 {
    font-size: 1.5em;
  }

  .defilements {
    height: 400px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form label {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .pat {
    display: none;
  }


  .Acceuil .cent p {
    text-align: center;
    font-size: 15px;
    width: 100%;
  }

  .Acceuil .cent h1 {
    text-align: center;
    font-size: 20px;
    width: 300px;
  }

  .footer_part1 #sous_class_contact {
    display: flex;
    visibility: visible;
  }

  /* cacher les icônes sociales */
  #sous_class_contact {
    display: none;
  }

  .burger {
    display: flex;
    margin-left: auto;

  }

  #sous_class_contact {
    display: none;
  }

  #menu {
    display: none;
    position: absolute;
    top: 90px;
    right: 20px;
    background: rgb(122, 121, 121);
    width: 220px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }

  #menu.active {
    display: block;
  }

  .contacter {
    display: none;
  }

  #menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #menu li {
    width: 100%;
    text-align: center;
  }

  #menu a {
    display: block;
    width: 100%;
    text-align: center;
  }

  .sous_class_logo h1 {
    width: 100%;
    font-size: 25px;
    text-align: left;
  }

  .flouter {
    height: 75px;
  }

  .section_navbar {
    height: 75px;
  }

  .sous_class_logo {
    width: 75%;
  }

  .redirections .bg {
    width: 330px;
  }

  .menu {
    width: 35%;
  }

  .menu button {
    width: 100px;
  }

  .menu a {
    width: 100px;
  }

  .pat {
    display: none;
  }

  .footer_part1 #sous_class_contact {
    display: flex;
  }

  .bas h1 {
    font-size: 20px;
  }

  .aigle h1 {
    font-size: 20px;
  }

  .aigle P {
    width: 300px;
  }

  .rondeurs {
    width: 320px;
  }

  #container {
    width: 100%;
  }
}

@media (max-width: 414px) {

  #contenu {
    height: 50%;
    width: 100%;
  }

  .menu {
    width: 100%;
    height: 50%;
  }

  body {
    overflow-x: hidden;
  }

  .aigle .Hici {
    font-size: 24px;
    text-align: center;
  }

  .burger {
    display: flex;
  }

  .contacter {
    display: none;
    visibility: hidden;
  }

  #container .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
    padding: 15px;
  }

  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  #container .menu #display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 27px;
  }

  #contacter .menu #display button {
    margin-bottom: 15px;
  }

  .flexy {
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenu {
    height: 100%;
    width: auto;
  }

  /* Animation burger */

  .burger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(14px);
  }

  .burger.active span:nth-child(2) {
    opacity: 0;
  }

  .burger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-14px);
  }
}

@media (max-width: 375px) {
  #justP {
    width: 200px;
  }

  .redirections .bg {
    width: auto !important;
  }
}

@media (max-width: 414px) {
  .partie_navbar nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: none;
  }

  #sous_class_contact {
    display: none;
    visibility: hidden;
  }

  .sous_class_logo img {
    display: block;
    visibility: visible;
  }

  .section_pub,
  .ad-banner,
  .ad-item {
    display: block;
    height: 2px;
  }

  .ad-track div {
    display: none;
  }

  .Acceuil img {
    width: 150px;
  }

  .Acceuil h1 {
    font-size: 15px;
  }

  .footer_part1 h1 {
    font-size: 25px;
  }

  .footer_part2 h1 {
    font-size: 25px;
  }

  form input {
    width: 250px;
  }

  .footer_part2 {
    display: flex;
    justify-content: center;
  }

  .footer_part2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 10px 10px 10px 10px;
  }

  .aigle P {
    text-align: center;
    width: 350px;
  }

  .redirections .bg {
    width: 350px;
  }

  .sous_class_contact2 {
    display: block;
    visibility: visible;
  }

  body {
    width: 100%;
  }
}

@keyframes back {
  0% {
    background-image: url("../Img/img_bg/img background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  100% {
    background-image: url("../Img/img_bg/img_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes caro {
  from {
    background-image: url("../Img/img/AdobeStock_547302931-scaled.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }

  20% {
    background-image: url("../Img/img/QHSE-FRENCH-480x340.jpg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }

  40% {
    background-image: url("../Img/img/apc-organisation-wcloud-compta.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }

  60% {
    background-image: url("../Img/img/depannage-informatique-item-6-1024x523-1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }

  80% {
    background-image: url("../Img/img/fourniture-de-bureau-tunisie.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }

  100% {
    background-image: url("../Img/img/360_F_45942138_ciHKFyQMPZOTHTAgIoHUlaFU7YMIpi2I.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }
}

@keyframes ruban_pub {
  0% {
    color: #000000;
  }

  10% {
    color: #ffffff;
  }

  20% {
    color: #dbda4d;
  }

  30% {
    color: #000000;
  }

  40% {
    color: #ffffff;
  }

  50% {
    color: #dbda4d;
  }

  60% {
    color: #000000;
  }

  70% {
    color: #ffffff;
  }

  80% {
    color: #dbda4d;
  }

  90% {
    color: #000000;
  }

  100% {
    color: #ffffff;
  }
}

@keyframes popupAnim {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes apparition {

  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

#classeur,
header,
.container,
.partie_recrutement,
#lien,
.section_service,
.list_produits {
  opacity: 0;

  transform: translateY(100px);

  animation: apparition 1s ease forwards;
}