body {
    background-color: rgb(68, 69, 70);
}

/* Section */
.section {
    text-align: center;
    padding: 30px 15px;
}

.section h2 {
    margin-bottom: 10px;
}

/* Grid formations */
.formations {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
}

/* Cartes */
.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    padding: 0 10px 15px;
}

/* RESPONSIVE */
@media (min-width: 768px) {
    .formations {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .formations {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

/* image */
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 0.4s ease;
}

/* texte caché */
.text-hover {
    margin-top: -30px;
    position: absolute;
    top: 100px;
    /* centré sur l'image (ajuste si besoin) */
    left: 50%;
    transform: translateX(-50%);

    color: white;
    font-size: 15px;
    font-weight: bold;

    opacity: 0;
    transition: 0.4s ease;
    z-index: 2;
}

/* fond sombre */
.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    /* même hauteur que l'image */
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.4s ease;
}

/* hover */
.card:hover img {
    filter: blur(3px);
    transform: scale(1.05);
}

.card:hover::after {
    opacity: 1;
}

.card:hover .text-hover {
    opacity: 1;
}


/* Animation d'apparition */

@keyframes apparition {

    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

header,
body {
    opacity: 0;

    transform: translateY(100px);

    animation: apparition 1s ease forwards;
}